{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'home' %}>        <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Django Todo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        {% if request.user.is_authenticated %}
        <div class="navbar-nav">
          <a class="nav-link" href={% url 'create-todo' %}>Create Todo</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User X
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Account Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        {% else %}
        <div class="navbar-nav">
          <a class="nav-link" href={% url 'login' %}>Login</a>
          <a class="nav-link" href={% url 'register' %}>Register</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>