{% load static %}

<div class="ui menu">
    <div class="ui container">


        <a href={% url 'home' %} class="header item">
            <img src={% static 'img/logo.png' %} alt="logo">
            Django Todo
        </a>

        
        <div class="right item">
            {% if request.user.is_authenticated %}
            <div class="item">
                <a href={% url 'create-todo' %} class="ui primary button">Create To-do</a>
            </div>
            <div class="ui simple dropdown item">
                User <i class="dropdown icon"></i>
                <div class="menu">
                    <form action="" class="ui large form" method="post" action="">
                        <input type="submit" class="ui button" value="Sign out">
                    </form>
                </div>
            </div>

            {% else %}

            <div class="item">
                <a href={% url 'login' %} class="ui primary basic button">Login</a>
            </div>
            <div class="item">

                <a href={% url 'register' %} class="ui secondary basic button">Register</a>
            </div>
            {% endif %}
        </div>


    </div>
</div> 